body {
  background-color: #3399ff; /* 淡め青 */
  color: #333333; /* 濃いグレー */
  font-family: Arial, sans-serif;
}

header {
  background-color: #FAFAD2; /* ライトゴールド */
  color: #333333;
  padding: 10px 0;
  text-align: center;
}

main {
  padding: 20px;
}

footer {
  background-color: #FAFAD2; /* ライトゴールド */
  color: #333333;
  text-align: center;
  padding: 10px;
}
